strategy:max
source "C:\Program Files (x86)\DevExpress 18.2\Components\System\Components\Packages"
cache ../../../nupkgs versions: current
source "..\..\..\bin\Nupkg"
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget

nuget akarnokd.reactive_extensions 0.0.27-alpha
nuget DevExpress.ExpressApp.Core.All 18.2.10  
nuget DevExpress.ExpressApp.Win.All 18.2.10  
nuget DevExpress.ExpressApp.Web.All 18.2.10  
nuget DevExpress.ExpressApp.Security.Xpo 18.2.10  
nuget DevExpress.EasyTest 18.2.10  
nuget DevExpress.ExpressApp.EasyTest.WebAdapter 18.2.10  
nuget DevExpress.ExpressApp.EasyTest.WinAdapter 18.2.10  
nuget Humanizer.Core 2.7.9
nuget MagicOnion  2.6.3
nuget MessagePack 1.7.3.7
nuget Moq 4.13.1
nuget Newtonsoft.Json 12.0.3
nuget NUnit 3.12
nuget NUnit3TestAdapter 3.15.1
nuget Ryder 0.8
nuget Shouldly 3.0.2 
nuget System.Data.Common 4.3
nuget System.Drawing.Common 4.6 
nuget Unofficial.Microsoft.mshtml 7.0.3300
nuget Xpand.XAF.Web.All 0.0.7.2
nuget Xpand.XAF.Win.All 0.0.7.2
