storage:none
strategy:max
framework: auto-detect
source "C:\Program Files (x86)\DevExpress 18.2\Components\System\Components\Packages"
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget

nuget akarnokd.reactive_extensions 
nuget DevExpress.ExpressApp.Core.All 18.2.10
nuget DevExpress.ExpressApp.Win.All 18.2.10
nuget DevExpress.ExpressApp.Web.All 18.2.10
nuget DevExpress.EasyTest 18.2.10  
nuget DevExpress.ExpressApp.EasyTest.WebAdapter 18.2.10  
nuget DevExpress.ExpressApp.EasyTest.WinAdapter 18.2.10  
nuget DevExpress.ExpressApp.Security.Xpo 18.2.10  
nuget Enums.NET
nuget FasterFlect.Xpand
nuget Mono.Cecil
nuget Moq  
nuget MagicOnion == 2.6.3
nuget MessagePack == 1.7.3.7
nuget Humanizer.Core  
nuget Newtonsoft.Json  
nuget NUnit  
nuget NUnit3TestAdapter  
nuget Ryder  
nuget Shouldly  
nuget System.CodeDom
nuget System.Data.Common  
nuget System.Interactive
nuget System.Interactive.Async
nuget System.Drawing.Common  
nuget System.Reactive  
nuget Unofficial.Microsoft.mshtml  
nuget Xpand.Patcher
nuget Xpand.Collections
