strategy:max
source F:\devexpress\Packages\
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget
storage:none
framework:net461,netstandard2.0

nuget akarnokd.reactive_extensions 0.0.27-alpha
nuget DevExpress.ExpressApp.Core.All == 20.1.6
nuget DevExpress.ExpressApp.Win.All == 20.1.6
nuget DevExpress.ExpressApp.Web.All == 20.1.6
nuget DevExpress.EasyTest == 20.1.6  
nuget DevExpress.ExpressApp.EasyTest.WebAdapter == 20.1.6  
nuget DevExpress.ExpressApp.EasyTest.WinAdapter == 20.1.6  
nuget DevExpress.ExpressApp.Security.Xpo == 20.1.6  
nuget Microsoft.Extensions.Dependencyinjection == 3.1.2  
nuget Microsoft.Graph.Beta == 0.18.0-preview
nuget Microsoft.Graph.Core == 1.19.0
nuget Microsoft.IdentityModel.Tokens == 6.6.0
nuget Enums.NET 3.0.3
nuget FasterFlect.Xpand
nuget Mono.Cecil 0.11.2
nuget Moq 4.13.1
nuget MagicOnion 2.6.3
nuget Grpc 2.23.0
nuget Grpc.Core 2.25.0
nuget MessagePack 1.7.3.7
nuget Humanizer.Core 2.7.9
nuget Microsoft.CSharp 4.7.0
nuget Microsoft.Identity.Client 4.13.0
nuget Microsoft.Owin 4.1.0
nuget Microsoft.Owin.Host.SystemWeb 4.1.0
nuget Microsoft.Owin.Security 4.1.0
nuget Microsoft.Owin.Security.Cookies 4.1.0
nuget Microsoft.Owin.Security.OpenIdConnect 4.1.0
nuget Owin 1.0.0
nuget Newtonsoft.Json == 12.0.3
nuget NUnit 3.12
nuget NUnit3TestAdapter 3.16.1
nuget Ryder 0.8
nuget Shouldly 3.0.2 
nuget System.CodeDom 4.7
nuget System.Data.Common 4.3  
nuget System.Interactive 4.1.1
nuget System.Interactive.Async 4.1.1
nuget System.Drawing.Common 4.7
nuget System.Reactive 4.4.1
nuget System.Collections.Immutable 1.7.0
nuget Unofficial.Microsoft.mshtml 7.0.3300
nuget Xpand.Patcher 2.0.23
nuget YamlDotNet 8.1.1
nuget Xpand.Collections 
nuget JetBrains.Annotations 2020.1.0
nuget Polly 7.2.1
nuget Google.Apis.Calendar.v3 1.43.0.1809
nuget Google.Apis.Tasks.v1 1.43.0.1804
nuget Google.Apis.People.v1 1.25.0.830

