source c:\DevExpressPackages
source https://api.nuget.org/v3/index.json
source https://xpandnugetserver.azurewebsites.net/nuget
storage:none
strategy: min
lowest_matching: true
copy_local:true
specific_version : false
framework:net9.0,net9.0-windows


nuget System.Configuration.ConfigurationManager  9.0.8
nuget Microsoft.Extensions.Caching.Memory 9.0.8
nuget System.CodeDom 9.0.8
nuget System.Text.Json 9.0.8
nuget System.Security.Cryptography.Pkcs 9.0.8
nuget System.Security.Cryptography.Xml 9.0.8
nuget System.Security.Cryptography.ProtectedData 9.0.8
nuget System.Drawing.Common 9.0.8
nuget System.Management 9.0.8
nuget System.Collections.Immutable 9.0.8
nuget Microsoft.Windows.Compatibility 9.0.8
nuget Microsoft.Bcl.AsyncInterfaces 9.0.8
nuget System.Reflection.Metadata 9.0.8
nuget System.Formats.Asn1 9.0.8
nuget Microsoft.AspNetCore.Components 9.0.8
nuget Microsoft.Extensions.Configuration.Abstractions 9.0.8
nuget Microsoft.Extensions.DependencyInjection.Abstractions 9.0.8
nuget Microsoft.Extensions.FileProviders.Abstractions 9.0.8
nuget Microsoft.Extensions.Options 9.0.8
nuget System.Diagnostics.DiagnosticSource 9.0.8
nuget System.Data.OleDb 9.0.8
nuget System.Diagnostics.PerformanceCounter 9.0.8
nuget System.Threading.Tasks.Dataflow 9.0.8
nuget System.Buffers 4.6.1
nuget System.Numerics.Vectors 4.6.1
nuget System.Threading.Tasks.Extensions 4.6.3
nuget System.Threading.Tasks 4.3.0
nuget Xpand.Patcher 9.0.0
nuget Microsoft.IdentityModel.Protocols.OpenIdConnect 8.14.0
nuget System.ServiceModel.NetTcp 8.1.2
nuget System.ServiceModel.Http 8.1.2
nuget Microsoft.NETCore.Platforms 7.0.4 
nuget Unofficial.Microsoft.mshtml 7.0.3300
nuget Polly 7.2.2
nuget System.Runtime.CompilerServices.Unsafe 6.1.2
nuget TextCopy 6.1.0
nuget System.Interactive 6.0.1
nuget System.Interactive.Async 6.0.1
nuget System.Reactive 6.0.1
nuget Microsoft.CSharp 4.7.0
nuget Microsoft.Extensions.Hosting 6.0
nuget DevExpress.ExpressApp.Office 25.1.5
nuget DevExpress.ExpressApp.Office.Win 25.1.5
nuget DevExpress.ExpressApp.Win 25.1.5
nuget DevExpress.Utils 25.1.5
nuget DevExpress.ExpressApp.Core.All 25.1.5
nuget DevExpress.ExpressApp.Win.All 25.1.5
nuget DevExpress.ExpressApp.Web.All 25.1.5
nuget DevExpress.ExpressApp.Blazor.All 25.1.5
nuget DevExpress.ExpressApp.Blazor 25.1.5
nuget DevExpress.ExpressApp.Validation.Blazor 25.1.5
nuget DevExpress.EasyTest 25.1.5 
nuget DevExpress.ExpressApp.EasyTest.WinAdapter 25.1.5  
nuget DevExpress.ExpressApp.Security.Xpo 25.1.5  
nuget DevExpress.Win.SpellChecker 25.1.5  
nuget Microsoft.NETCore.Targets 5.0.0
nuget Microsoft.Reactive.Testing 5.0.0
nuget System.ServiceModel.Security 6.0.0
nuget System.ServiceModel.Duplex 6.0.0
nuget Microsoft.Graph.Beta 4.22.0-preview
nuget Microsoft.CodeAnalysis 4.12.0
nuget Shouldly 4.3.0
nuget Enums.NET 4.0
nuget Moq 4.16
nuget NUnit3TestAdapter 4.0.0
nuget Selenium.WebDriver 4.21
nuget System.ValueTuple 4.6.1
nuget System.Memory 4.6.3
nuget System.Collections.Concurrent 4.3.0
nuget MessagePack 3.1.4
nuget NUnit 3.13.2
nuget Xpand.VersionConverter 2.202.11
nuget RazorLight 2.3.1
nuget FasterFlect.Xpand 2.0.7
nuget ZString 2.6.0
nuget Microsoft.AspNetCore.Hosting 2.3.0
nuget Microsoft.AspNetCore.Razor.Runtime 2.3.0
nuget Microsoft.AspNetCore 2.3.0
nuget MagicOnion 2.6.3
nuget Grpc.Core 2.25.0
nuget Humanizer.Core 2.14.1
nuget Humanizer 2.14.1
nuget NAudio 2.1.0
nuget Grpc 2.23.0
nuget Hangfire.Core 1.7.35
nuget Hangfire.SqlServer 1.7.35
nuget Hangfire.AspNetCore 1.7.35
nuget hangfire.memorystorage 1.8.0
nuget Microsoft.CognitiveServices.Speech 1.23.0
nuget Google.Apis.Calendar.v3 1.55.0.2410
nuget Google.Apis.Tasks.v1 1.55.0.2384
nuget Google.Apis.People.v1 1.25.0.830
nuget Xpand.Collections 1.0.4
nuget Microsoft.NET.Test.SDK 17.14.1
nuget YamlDotNet 11.2.1
nuget Microsoft.Data.SqlClient 6.1.1
nuget Microsoft.VisualBasic 10.3.0
nuget Azure.Core 1.47.3
nuget Mono.Cecil 0.11.6
nuget akarnokd.reactive_extensions 0.0.27-alpha
nuget Telegram.Bot 22.7.2
