<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Data" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.ExpressApp" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Images" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Pdf.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Printing.Core" version="18.2.3" targetFramework="net461" />
  <package id="DevExpress.Utils" version="18.2.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
</packages>